/* .home {
    margin-top: 50px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: white;
  }
  
  .contact-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff4081;
    border: none;
    color: white;
    cursor: pointer;
  } */